body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#calculadora {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(139, 236, 168, 0.425);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
}


h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #428bca;
    text-decoration: none;
    font-weight: bold;
}

