<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculadora WEB</title>
        <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
        <script src="calculadora.js"></script>
    
    </head>

    <body>

        <div id="calculadora">
            <h1>Calculadora WEB</h1>
            <form id="calculatorForm" action = '/calculadora' method = 'POST'>
                <input type="text" id="num1" name='num1' placeholder="Número 1" required>
                <input type="text" id="num2" name= 'num2'placeholder="Número 2" required>
                <select id="operador" name='operador' required>
                    <option value="sumar">Sumar</option>
                    <option value="restar">Restar</option>
                    <option value="multiplicar">Multiplicar</option>
                    <option value="dividir">Dividir</option>
                </select>
                <button type="submit" >Calcular</button>
                <p id="result"></p>
            </form>
            <p id = 'mensaje'>
                {% if mensaje %}
                    <p>{{ mensaje }}</p>
                {% endif %}
            </p>
        </div>
        
    </body>

</html>